image:
  name: harbor.lydec.wnet/base-images/node:lts-alpine3.19

cache:
  paths:
    - node_modules

stages:
  - deploy-docker
  - deploy-k8s

docker-build-master:
  image:
    name: harbor.lydec.wnet/base-images/kaniko:executor-debug-v0.23.0
    entrypoint: [""]
  before_script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  stage: deploy-docker
  script:
    - /kaniko/executor --insecure --skip-tls-verify --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/docker/Dockerfile --destination $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHORT_SHA --destination $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:staging
  only:
    - master

docker-build-tags:
  image: $CI_REGISTRY/base-images/docker:19
  before_script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  stage: deploy-docker
  script:
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_TAG -f docker/Dockerfile .
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_TAG
  only:
    - tags

deploy-kubernetes-dev:
  stage: deploy-k8s
  image:
    name: harbor.lydec.wnet/base-images/kubectl:1.15
    entrypoint: ['']
  script:
    - echo $kube_config_dev_rke | base64 -d > /kube-config.yml
    - export KUBECONFIG=/kube-config.yml
    - kubectl delete  --ignore-not-found=true -f k8s
    - kubectl apply -f k8s/
  only:
    - master

