<form [formGroup]="form" (ngSubmit)="getData()" id="transactionForm">

    <div class="flex card flex-col w-full gap-8">
        
        <div class="font-semibold text-xl mb-2">Financial operations: All transactions</div>
        <div class="flex flex-column gap-6">
            <div class="flex gap-4">
                <p-floatlabel variant="on">
                    <p-datepicker id="transactionDateMin" formControlName="transactionDateMin"
                        [showButtonBar]="true" dateFormat="dd MM yy" />
                    <label for="transactionDateMin">Transaction date min</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-datepicker id="transactionDateMax" formControlName="transactionDateMin"
                        [showButtonBar]="true" dateFormat="dd MM yy" />
                    <label for="transactionDateMax">Transaction date max</label>
                </p-floatlabel>
                <app-autocomplete
                    [(details)]="periodsAutocompleteDetails"
                    [control]="form.get('period')" />
                <app-autocomplete
                    [(details)]="executedByAutocompleteDetails"
                    [control]="form.get('executedBy')" />
            </div>
            <div class="flex">
                <p-button label="Search" type="submit" icon="pi pi-search" [loading]="searchButtonIsLoading" form="transactionForm" />
            </div>
        </div>
        <ng-container *ngIf="transactionList$">
            <app-all-operations-array [dataList$]="transactionList$"/>
        </ng-container>
    </div>

</form>