
<form [formGroup]="form">
    <div class="flex card flex-col w-full gap-8">
    
        <div class="font-semibold text-xl mb-2">Financial operations: Advances</div>
        <div class="flex flex-column gap-6">
            <div class="flex gap-4">
                <p-floatlabel variant="on">
                    <p-datepicker id="advanceDateMin" [showButtonBar]="true"
                    formControlName="advanceDateMin" dateFormat="dd MM yy" />
                    <label for="advanceDateMin">Contribution date min</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-datepicker id="advanceDateMax" [showButtonBar]="true"
                    formControlName="advanceDateMax" dateFormat="dd MM yy" />
                    <label for="advanceDateMax">Contribution date max</label>
                </p-floatlabel>
                <app-autocomplete
                    [(details)]="transactionStatesAutocompleteDetails"
                    [control]="form.get('transactionState')" />
                <app-autocomplete
                    [(details)]="periodsAutocompleteDetails"
                    [control]="form.get('period')" />
                <app-autocomplete
                    [(details)]="takerAutocompleteDetails"
                [control]="form.get('taker')" />
            </div>
            <div class="flex">
                <p-button label="Search" icon="pi pi-search" [loading]="searchButtonIsLoading" (click)="getData()" />
            </div>
        </div>
        <ng-container *ngIf="advanceList$">
            <app-advance-array [dataList$]="advanceList$" (onAddAdvanceClick)="onAddAdvanceClick()"/>
        </ng-container>
    </div>
</form>

<app-transaction-adding-form [dialogStatus]="addAdvanceDialogStatus"
                            (dialogStatusChange)="onDialogStatusChanged($event)"
                            *ngIf="addAdvanceDialogStatus.dialogIsVisible" />
