<p-dialog [visible]="dialogStatus.dialogIsVisible" [style]="{ width: '450px' }" header="Adding charges"
    [modal]="true" (visibleChange)="cancelInputAdding()">
    <ng-template #content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="chargeForm">
            <div class="flex flex-col mt-2 gap-6">
                <div class="flex gap-4">
                    <!-- Colonne gauche -->
                    <div class="flex flex-col w-1/2 gap-4">

                        <!-- Product -->
                        <app-autocomplete
                            [(details)]="chargeTypesAutocompleteDetails"
                            (onSelect)="selectChargeType($event)"
                            [control]="form.get('chargeType')" />

                        <!-- Cost -->
                        <div>
                            <p-floatlabel variant="on">
                                <p-inputnumber id="costInput" formControlName="cost"
                                    mode="decimal" [min]="0" [maxFractionDigits]="2"
                                    class="flex w-full"
                                    [class.ng-invalid]="form.get('cost')?.invalid && form.get('cost')?.touched"
                                    [class.ng-dirty]="true" />
                                <label for="costInput">Cost *</label>
                            </p-floatlabel>
                            <div *ngIf="form.get('cost')?.invalid && form.get('cost')?.touched" class="text-red-500 text-sm ml-1">
                                {{getFieldError('cost')}}
                            </div>
                        </div>

                        <!-- Quantity -->
                        <div>
                            <p-floatlabel variant="on">
                                <p-inputnumber id="quantityInput"
                                    formControlName="quantity"
                                    [showButtons]="true"
                                    mode="decimal"
                                    [min]="1"
                                    class="flex w-full"
                                    [class.ng-invalid]="form.get('quantity')?.invalid && form.get('quantity')?.touched"
                                    [class.ng-dirty]="true" />
                                <label for="quantityInput">Quantity *</label>
                            </p-floatlabel>
                            <div *ngIf="form.get('quantity')?.invalid && form.get('quantity')?.touched" class="text-red-500 text-sm ml-1">
                                {{getFieldError('quantity')}}
                            </div>
                        </div>

                        <!-- Consumed by -->
                        <app-autocomplete
                            [(details)]="consumedByAutocompleteDetails"
                            [control]="form.get('consumedBy')" />
                    </div>

                    <!-- Colonne droite -->
                    <div class="flex flex-col w-1/2 gap-4">

                        <!-- Short description -->
                        <div>
                            <p-floatlabel variant="on">
                                <input pInputText id="shortDesc" type="text"
                                    class="flex w-full" formControlName="shortDesc"
                                    [class.ng-invalid]="form.get('shortDesc')?.invalid && form.get('shortDesc')?.touched"
                                    [class.ng-dirty]="true" />
                                <label for="shortDesc">Short description *</label>
                            </p-floatlabel>
                            <div *ngIf="form.get('shortDesc')?.invalid && form.get('shortDesc')?.touched" class="text-red-500 text-sm ml-1">
                                {{getFieldError('shortDesc')}}
                            </div>
                        </div>
                
                        <!-- Description -->
                        <div>
                            <p-floatlabel variant="on">
                                <textarea id="descriptionInput" rows="2" pTextarea
                                    class="flex w-full" formControlName="description"></textarea>
                                <label for="descriptionInput">Description</label>
                            </p-floatlabel>
                        </div>



                        <!-- Transaction Date -->
                        <div>
                            <p-floatlabel variant="on">
                                <p-datepicker id="transactionDate"
                                    formControlName="transactionDate"
                                    [showButtonBar]="true"
                                    dateFormat="dd MM yy"
                                    appendTo="body"
                                    [class.ng-invalid]="form.get('transactionDate')?.invalid && form.get('transactionDate')?.touched"
                                    [class.ng-dirty]="true" />
                                <label for="transactionDate">Transaction date *</label>
                            </p-floatlabel>
                            <div *ngIf="form.get('transactionDate')?.invalid && form.get('transactionDate')?.touched" class="text-red-500 text-sm ml-1">
                                {{getFieldError('transactionDate')}}
                            </div>
                        </div>
                        
                        <div>
                            <p-floatlabel variant="on">
                                <p-datepicker 
                                    id="transactionTime"
                                    formControlName="transactionTime"
                                    [timeOnly]="true"
                                    [showButtonBar]="true"
                                    appendTo="body"
                                    [class.ng-invalid]="form.get('transactionTime')?.invalid && form.get('transactionTime')?.touched"
                                    [class.ng-dirty]="true">
                                </p-datepicker>
                                <label for="transactionTime">Transaction time *</label>
                            </p-floatlabel>
                            <div *ngIf="form.get('transactionTime')?.invalid && form.get('transactionTime')?.touched" class="text-red-500 text-sm ml-1">
                                {{getFieldError('transactionTime')}}
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <p-fileupload mode="advanced" name="demo[]" chooseIcon="pi pi-upload"
                        accept="image/*" maxFileSize="10000000"
                        (onSelect)="selectImage($event)" [auto]="true" chooseLabel="Browse" />
            </div>

            <!-- Footer -->
            <div class="flex justify-between mt-4">
                <p-button label="Cancel" icon="pi pi-times" text (click)="cancelInputAdding()" />
                <p-button label="Save" icon="pi pi-check" type="submit" form="chargeForm" />
            </div>
        </form>
    </ng-template>
</p-dialog>