<p-dialog [visible]="dialogStatus.dialogIsVisible" [style]="{ width: '450px' }" header="Adding Advance"
    [modal]="true" (visibleChange)="cancelInputAdding()">
    <ng-template #content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="capitalContrForm">
            <div class="flex flex-col gap-4 mt-4">

                <div class="flex gap-4">
                    
                    <!-- Short description -->
                    <div>
                        <p-floatlabel variant="on">
                            <input pInputText id="label" type="text"
                                class="flex w-full" formControlName="label"
                                [class.ng-invalid]="form.get('label')?.invalid && form.get('label')?.touched"
                                [class.ng-dirty]="true" />
                            <label for="label">Short description *</label>
                        </p-floatlabel>
                        <div *ngIf="form.get('label')?.invalid && form.get('label')?.touched" class="text-red-500 text-sm ml-1">
                            {{getFieldError('label')}}
                        </div>
                    </div>
            
                    <!-- Description -->
                    <div>
                        <p-floatlabel variant="on">
                            <textarea id="descriptionInput" rows="2" pTextarea
                                class="flex w-full" formControlName="description"></textarea>
                            <label for="descriptionInput">Description</label>
                        </p-floatlabel>
                    </div>
                </div>
                
                <div class="flex gap-4">
                    <!-- Start Date -->
                    <div>
                        <p-floatlabel variant="on">
                            <p-datepicker 
                                id="startDate"
                                formControlName="startDate"
                                [showButtonBar]="true"
                                dateFormat="dd MM yy"
                                appendTo="body"
                                [class.ng-invalid]="form.get('startDate')?.invalid && form.get('startDate')?.touched"
                                [class.ng-dirty]="true">
                            </p-datepicker>
                            <label for="startDate">Start date</label>
                        </p-floatlabel>
                        <div *ngIf="form.get('startDate')?.invalid && form.get('startDate')?.touched" class="text-red-500 text-sm ml-1">
                            {{ getFieldError('startDate') }}
                        </div>
                    </div>

                    <!-- Start Time -->
                    <div>
                        <p-floatlabel variant="on">
                            <p-datepicker 
                                id="startTime"
                                formControlName="startTime"
                                [timeOnly]="true"
                                [showButtonBar]="true"
                                appendTo="body"
                                [class.ng-invalid]="form.get('startTime')?.invalid && form.get('startTime')?.touched"
                                [class.ng-dirty]="true">
                            </p-datepicker>
                            <label for="startTime">Start time</label>
                        </p-floatlabel>
                        <div *ngIf="form.get('startTime')?.invalid && form.get('startTime')?.touched" class="text-red-500 text-sm ml-1">
                            {{ getFieldError('startTime') }}
                        </div>
                    </div>

                </div>

            </div>

            <div class="flex flex-col mt-2 gap-4">

                <div class="flex gap-4">
                    <!-- Colonne gauche -->
                    <div class="flex flex-col w-1/2 gap-4">
                        

                    </div>

                    <!-- Colonne droite -->
                    <div class="flex flex-col w-1/2 gap-4">

                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="flex justify-between mt-4">
                <p-button label="Cancel" icon="pi pi-times" text (click)="cancelInputAdding()" />
                <p-button label="Save" icon="pi pi-check" type="submit" form="capitalContrForm" />
            </div>
        </form>
    </ng-template>
</p-dialog>